@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

.nav{
    font-family: 'Merienda', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 32px 0px;
    background-color: #E8E7D5;
    h1{
        font-size: 48px;
        margin-bottom: 12px;
    }
    h3{
        font-size:20px
    }
    .socials{
        margin-top: 24px;
        a{
            color:#222;
            margin:0 12px;
        }
    }
}